tensorflow==2.16.1

numpy==1.26.4
pandas==2.2.3
scipy==1.13.1

matplotlib==3.9.2
seaborn==0.13.2

mlflow>=3.0.0
dvc

notebook

python-box==6.0.2
PyYAML
types-PyYAML
ensure==1.0.2
tqdm
joblib

Flask
Flask-Cors
gdown

-e .